{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint ./components/** ./app/** -c .eslintrc.json --fix --ext ts,tsx",
        "eslint ./components/** ./app/** -c .eslintrc.json --ext ts,tsx"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}
